/********************* [more]按钮 *********************/
.com-more-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0 5px;
    line-height: 18px;
    font-size: .8rem;
    color: #d4237a;
    border: 1px solid #d4237a;
    border-radius: 2px;
    transition: .3s;
}

.com-more-btn:hover {
    color: #fcfcfc;
    border: 1px solid #00ABFF;
    background: #00ABFF;
    transition: .3s;
}

.com-more-btn .icon-more {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    top: 1px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: url("../images/icon_more.png") no-repeat;
    background-size: cover;
}

/*icon按钮*/
.con-btn {
    width: 20px;
    height: 20px;
    /*padding: 4px;*/
    margin: 6px 20px 6px 6px;
    line-height: 32px;
    font-size: .7rem;
    text-align: center;
    color: #fcfcfc;
    background: #f0ad4e;
}

.con-btn.last {
    margin-right: 5px;
}

.icon-set {
    background: url("../images/icon_selftab.png") no-repeat;
    background-size: cover;
}

.icon-share {
    background: url("../images/icon_share.png") no-repeat;
    background-size: cover;
}

.icon-collection {
    background: url("../images/icon_collection.png") no-repeat;
    background-size: cover;
}

.icon-collection.active {
    background: url("../images/icon_collection_active.png") no-repeat;
    background-size: cover;
}

.icon-download {
    background: url("../images/icon_download.png") no-repeat;
    background-size: cover;
}

.icon-like {
    background: url("../images/icon_like.png") no-repeat;
    background-size: cover;
}

.icon-like.active {
    background: url("../images/icon_like_active.png") no-repeat;
    background-size: cover;
}

/*********************************** close-icon *******************************************/
span.close-icon {
    display: inline-block;
    position: relative;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
    -webkit-transition: .2s;
    transition: .2s;
}

span.close-icon:before,
span.close-icon:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 2px;
    margin: 0 5px;
    background: #fff;
}

span.close-icon:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.close-icon:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

span.close-icon:hover {
    background: rgba(0, 0, 0, .5);
    -webkit-transition: .2s;
    transition: .2s;
}

#mCloseBtn {
    margin: 0;
}




















